[2013-04-11 19:25] MestreLion opened #5 "Provide option to extract selected files"
This was reported in 2004 in Debian Bug Tracking System: http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=260174

A working patch ready to merge was also provided (tho the syntax is not optimal, better than `-f FILE` for a single file (or multiple -f) is to do as `tar` and many other tools: all arguments (not options) after the cabinet name are filenames to be extracted.

This is a very needed fea

[2013-09-04 18:38] mw9 opened #7 "Fails to work on ARM9 / armv5tel cpu (e.g. SheevaPlug)"
Running on SheevaPlug, unshield simply 'Aborts' when I try to extract a cab.

The problem lies with macros READ_UINT16 & READ_UINT32 in lib/internal.h.
In a nutshell, some processors will not tolerate a pointer that is not correctly aligned for the 'pointed to' type. This arm is one of those.

http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.faqs/ka15414.html

Unfortunately, the layout

[2013-09-04 19:49] #5 closed, assigned to twogood

[2013-09-04 19:50] #7 closed, assigned to nobody

[2013-09-05 02:44] MestreLion opened #8 "Debian (and Ubuntu) packages points to wrong upstream"
After issue #5 was fixed, I went to Debian and Ubuntu repositories to see the version there (and perhaps request them to package the new v0.9), when I noticed they are still using 0.6 from 2009!

Not only that, their "upstream" links points to http://sourceforge.net/projects/synce/ , which looks like an unrelated project (that shares twogood as a common author). And the `watch` file (that looks fo

[2013-09-08 18:47] #8 closed, assigned to nobody

[2014-02-18 03:30] orbisvicis opened #11 "[PATCH] Fix printf format string check in configure.ac.in"
[code]

[2014-02-18 16:53] orbisvicis opened #12 "[PATCH] Remove LTLIBOBJS"
[code]

[2014-02-18 20:28] #11 closed, assigned to nobody

[2014-02-18 20:28] #12 closed, assigned to nobody

[2014-02-26 22:27] AdamWill opened #13 "Files identified as InstallShield .cabs but not accessible with unshield"
I contacted David directly about a couple of files I found that were identified as InstallShield cabs, but which unshield couldn't open. He asked me to file an issue, so here it is.

Download the .exe from http://www.dell.com/support/drivers/us/en/04/DriverDetails/Product/dell-venue-8-pro?driverId=4F5N3&osCode=WB32A&fileId=3298803898&languageCode=en&categoryId=NI , extract it (it's a typical self-

[2015-04-21 17:03] Nikoli opened #18 "Release 1.1"
There are several commits since version 1.0, so please make new release.

[2015-05-04 21:20] ddgg opened #19 "installshield cab version 17 and later list/extract filename only 1 character"
I have some stock invester pro installshield exe, use exiftool I can see that they are created using various versions of installshield , before version 12 unshield work perfectly, but after version 17 till 19, unshield list file in a strange way, only one character for each part in the path/filename,
[Imgur](http://i.imgur.com/YKJR0pQ.jpg)

any known issues for this? thanks

[2015-05-05 07:28] twogood commented on #19
I need some example files to work with to solve this.

Thanks!

[2015-05-05 14:03] ddgg commented on #19
hi, this is a self extractable install exe

https://github.com/ddgg/stockinvestorpro/raw/master/1.exe

thank you for the great software

[2015-05-05 14:36] #19 closed

[2015-05-05 14:40] twogood commented on #19
The file names show correctly now, but unfortunately only a very limited number of files were successfully extracted :-(

[2015-05-19 21:07] ddgg commented on #19
@twogood , thank you for the update, it's working now for the version 18/19 exes, but today I tried another exe(version 17), the single character problem persists, would you please have a look at it? thanks

[v17 exe](https://github.com/ddgg/stockinvestorpro/commits/master/v17.exe)

[2015-05-20 05:32] twogood commented on #19
OK, handling file names in version 17 just like 18/19 now. Please give it a try.

[2015-05-20 15:29] ddgg commented on #19
works great now, thanks

[2015-05-20 20:10] twogood commented on #19
:+1:

[2015-06-22 15:53] twogood commented on #18
Thanks for the hint!

I have released versions 1.1, 1.2 and 1.3 since this was opened!

[2015-06-22 15:53] #18 closed

[2015-07-02 16:40] h3xx opened #22 "Fails to build when building inside of jail using cmake"
The file `unshield_config.h` isn't made available to source files when building in a build jail.

Steps to reproduce:

    git clone git://github.com/twogood/unshield.git
    cd unshield
    mkdir -p __build_jail__
    cd __build_jail__
    cmake ..
    make

Error message:

    Scanning dependencies of target convert_utf
    [  9%] Building C object lib/convert_utf/CMakeFiles/convert_utf.dir/Conv

[2015-07-02 16:42] twogood commented on #22
@stopiccot: do you have any suggestions?

[2015-07-02 16:50] h3xx commented on #22
I have solved it, but I'm not certain it's the "right" way to solve it.

unshield_config.h is generated as a result of running cmake, right? Generated files *should* go under `${CMAKE_CURRENT_BINARY_DIR}` but the source files look for it in the source dirs.

[2015-07-02 16:52] twogood commented on #22
Yes, it is generated from unshield_config.h.in at build time.

[2015-07-02 17:34] h3xx commented on #22
I actually think I fixed it the "correct" way with my pull request. Should be backward-compatible with those who prefer to build the source code in-tree.

[2015-07-04 13:27] twogood commented on #22
Thank you very much!

[2015-07-04 13:27] #22 closed

[2015-08-19 13:53] rodarima opened #25 "file_group_count exceeds MAX_FILE_GROUP_COUNT"
I'm getting trouble extracting a cabinet.

Version from header is 16:

    [unshield_read_headers:226] Reading header from .hdr file 1.
    [unshield_read_headers:303] Version 0x02000640 handled as major version 16
    [unshield_get_cab_descriptor:81] Cabinet descriptor: 000d192a 002026f0 002026f0 00000168
    [unshield_get_cab_descriptor:83] Directory count: 90
    [unshield_get_cab_descriptor:84

[2015-08-19 14:39] twogood commented on #25
Interesting. Are you able to share the installation files with me?

Increasing MAX_FILE_GROUP_COUNT will make unshield read more "file group" entries, and that will push "component" entries forward and that will cause a crash. These are listed by the g and c commands, respectively.

The reason less files are extracted than the file count can be found in the [unshield_file_is_valid](https://github.

[2015-08-20 00:30] rodarima commented on #25
I have sent the entire iso (by torrent) to your email.

Using the original `MAX_FILE_GROUP_COUNT` set as 71, I can list the groups and components:

    $ src/unshield g /mnt/1/data1.cab
    ...
    1648 file groups

    $ src/unshield c /mnt/1/data1.cab
    ...
    1445 components

But with the above warning:

    WARNING: self->file_group_count = 151

The invalid files (shown by a improvised prin

[2015-08-20 09:16] twogood commented on #25
Got it, thanks! I'll see if I can get it working this weekend!

[2015-09-26 14:46] DelphiMan68 opened #26 "How to install this library"
Hi, How to install this library on linux. please write build instruction.

[2015-09-26 15:56] twogood commented on #26
Run ./rebuild.sh

[2015-09-26 17:21] DelphiMan68 commented on #26
Thank you my dear friend :)

[2015-09-26 17:21] #26 closed

[2015-10-10 12:17] a-detiste opened #27 "can't decompress 3 files from "The Feeble Files - spanish version" old archive"
Hi,

unshield can't decompress 3 files from `data1.cab` provided by  the Spanish version
of "the Feeble Files" (Charisma.smk, Qtime.smk & Run95.exe)

Without the `-O` flag, this archive can't be uncompressed at all.

Log for one of the 3 files:

`unshield -D 3 -O x data1.cab Charisma.smk > charisma.txt 2>&1`
http://ssh.detiste.be/charisma.txt

Whole CD1:
https://drive.google.com/file/d/0B6x6rDZxk-

[2015-10-28 07:58] twogood commented on #27
Isn't there a second CD-ROM containing a data2.cab file?

[2015-10-28 09:23] twogood commented on #27
I can't really explain why these files fail. The Charisma.smk and Run95.exe files are probably just missing some null padding at the end, but Qtime.smk is worse off. It should expand to 11 970 484 bytes but stops at 8 732 560 bytes with "data error" from zlib's ``inflate()`` function...

[2015-10-29 05:57] a-detiste commented on #27
Aim of out [project](http://pkg-games.alioth.debian.org/game-data/) is to be able to install all these old commercial games without requiring Wine or even a x86 cpu. For now telling people to install to /tmp & repack from there is just fine as a workaround.

`Unshield` works perfectly for the Jedi Academy & the Arx Fatalis japanase Demo :smile:

For InstallWise (needed by Return To Caste Wolfenste

[2015-10-29 08:21] maz-1 opened #28 "unshield cannot deal with non-utf filename"
I am trying to extract files from this file
http://tkool.jp/assets/files/2003rtp.zip

command I use :

  unar -encoding SHIFT-JIS 2003rtp.zip
  cd "2003RTPｾｯﾄｱｯﾌﾟ"
  unar RPG2003RTP.exe
  cd RPG2003RTP
  unshield x data1.cab

However, unshield cannot set the original character encoding like unarchiver, all non-ascii characters are converted to underline (In this case these characters are encoded i

[2015-10-29 08:35] twogood commented on #28
Thank you for your issue report! The internationalization of unshield is obviously lacking. Can you please try to modify the source code like this and see if it gives you correct filenames?

[code]

[2015-10-29 12:11] maz-1 commented on #28
Works! Although filenames are in a mess, but they are no longer converted to underline ,so I can fix them with convmv. For me that's enough.

[2015-10-29 12:17] twogood commented on #28
OK! File names are supposed to be in UTF-8, but maybe they are not :-)

[2015-10-29 15:58] twogood commented on #27
The game-data-package project looks like an excellent initiative! It also seems to be an excellent test bed for unshield! :-)

I just pushed a couple of improvements to master. Enjoy!

[2015-10-29 16:06] twogood commented on #27
Slightly off-topic: I have some really old code (MIT license) to also extract files from DllInflate, Inno Setup, InstallShield SFX, Installer VISE, Nullsoft Installer, SetupFactory 5/6, and maybe something else. See http://sourceforge.net/p/synce/code/HEAD/tree/trunk/orange/lib/

[2015-10-30 02:51] maz-1 commented on #28
What do you think of this?
https://github.com/maz-1/unshield/commit/5c7f68954df58c94892482962e85b5e2f99d8c08

[2015-10-30 05:45] a-detiste commented on #27
Great !

[code]
didn't emitted any warning, will verify the md5 later.

When you'll publish a new release, I'll ask the Debian maitainer to update the package,
it's a bit lacking behind: https://packages.qa.debian.org/u/unshield.html

[2015-10-30 06:21] a-detiste commented on #27
I always first try what is already packaged in Debian, like `7z` or `InnoExtract`.

I think 7z handles NullSoft.

InnoExtract is well maitained with an active community (my Pull Request got in :smile: ),
so I'd prefer that; it's also usable in the `Jessie` release.

It's not that I'm lazy, but we want to keep this project back-portable to stable,
without having to backport tens of C/C++ depedencie

[2015-10-30 08:45] twogood commented on #28
Looks good, send a pull request!

[2015-10-30 08:47] twogood commented on #27
I'll publish a new release after merging a patch for #28

Orange is not maintained enough be in Debian, but new projects could be built upon that code. Not by me, though.

[2015-10-30 10:15] #28 closed

[2015-10-30 12:49] a-detiste commented on #27
I'd prefer too to have an easy to maintian single-format unarchiver, not something with layers of format abstractions I don't personally need. I'll handle this someday.

[2015-10-31 07:08] a-detiste commented on #27
And a lot of fun too.

[2016-02-03 17:44] 6XGate opened #33 "Issues Building with MinGW (64-bit)"
I has issues compiling unshield under MinGW, the 64-bit version.  I have attached the following patch of changes I had to do to make it build.  It also allows overriding the use of OpenSSL with the internal MD5 code, even when OpenSSL is found.

[unshield.patch.txt](https://github.com/twogood/unshield/files/116091/unshield.patch.txt)

[2016-02-03 18:52] 6XGate opened #34 "Unable to List or Extract Files from Some InstallShield 15 Cabinets"
I have tried using _unshield_ on the following cabinet set from InstallShield 15 installers with no luck.

[sp71906.zip](https://github.com/twogood/unshield/files/116196/sp71906.zip)

[2016-02-03 18:54] 6XGate opened #35 "Unable to List or Extract Files from Some InstallShield 21 Cabinets"
I have tried using _unshield_ on the following cabinet set from InstallShield 21 installers with no luck.

[sp72968.zip](https://github.com/twogood/unshield/files/116199/sp72968.zip)

[2016-02-03 20:48] twogood commented on #33
Thanks! Unfortunately adding libiconv to target_link_libraries breaks the build on my Linux machine, as iconv is included in libc. Is this an easy fix for you? Thanks again!

[2016-02-03 20:53] twogood commented on #34
Works fine for me on Linux. Could you please provide some output from unshield?

[2016-02-03 20:54] twogood commented on #35
Also works fine for me on Linux. Could you please provide some output from unshield?

[2016-02-03 21:44] 6XGate commented on #33
Should be, just make the POSIX systems and Windows systems link differently.

[2016-02-03 21:46] 6XGate commented on #34
Here is the `-D 3` output from unshield.

   [unshield_read_headers:226] Reading header from .hdr file 1.
   [unshield_read_headers:262] Failed to read from header file 1. Expected = 82137, read = 1364
   [unshield_open_force_version:363] Failed to read header files
   Failed to open data1.cab as an InstallShield Cabinet File

[2016-02-03 22:34] 6XGate commented on #33
Okay, I changed the libiconv linkage so only happens on Windows (MinGW or MSYS).  Also added fixes to allow MSYS compilation as well.

[unshield.patch.txt](https://github.com/twogood/unshield/files/116514/unshield.patch.txt)

[2016-02-03 22:37] 6XGate commented on #35
Same as v15 cabinets;

    [unshield_read_headers:226] Reading header from .hdr file 1.
    [unshield_read_headers:262] Failed to read from header file 1. Expected = 45774, read = 1364
    [unshield_open_force_version:363] Failed to read header files
    Failed to open data1.cab as an InstallShield Cabinet File

[2016-02-04 19:12] twogood commented on #34
Thanks! Could you please try to edit the ``fopen()`` call  around line 72 in ``helper.c`` and change ``"r"`` to ``"rb"``, recompile and see if unshield works better?

[2016-02-04 19:13] twogood commented on #35
Duplicate of #34

[2016-02-04 19:13] #35 closed

[2016-02-04 19:23] twogood opened #36 "Using our own MD5 even if we have OpenSSL?!"
[code]

If we have OpenSSL, **don't** use our own MD5 code.

[2016-02-04 19:28] twogood commented on #33
Much better! But the message USE_OUR_OWN_MD5 comes twice, is that deliberate? Also I realized #36 right now.

[2016-02-04 20:12] 6XGate commented on #33
Let me check, they may have been a debugging message that left behind

[2016-02-04 20:17] 6XGate commented on #34
sure

[2016-02-04 20:23] 6XGate opened #37 "Windows/MinGW; Unable to Read Cabinet From Path With Numbers"
I'm having an issue with ready cabinets when a path I give unshield contains numbers.  I image this may take few changes to fix, and the workaround is just to be in the folder where the cabinet is, but I figured I should make you aware of the issue.

    unshield -D 3 l sp71906\data1.cab
    [unshield_fopen_for_reading:60] File sp1.hdr not found even case insensitive

    [unshield_read_headers:23

[2016-02-04 20:32] twogood commented on #37
Nice catch! I need to check if the same issue exists on Linux.

[2016-02-04 21:22] twogood commented on #34
Great!

[2016-02-10 19:53] twogood commented on #37
Works fine on Linux. The problem is using `\` as a path separator. It should work fine on Windows/MinGW if you use `/` as path separator, e.g. `unshield -D 3 l sp71906/data1.cab`. Can you confirm?

[2016-02-10 20:01] #34 closed

[2016-02-11 21:49] 6XGate commented on #37
I'll check that out

[2016-02-11 21:51] 6XGate commented on #33
Any other issues noticed with the patch?

[2016-02-11 22:15] twogood commented on #33
No, just late with merging.

tors 11 feb. 2016 22:51 Matthew Holder <notifications@github.com> skrev:

[2016-02-17 19:41] 6XGate commented on #37
Yeap, switching it to forward slashes (/) did indeed fix the issue.

[2016-02-17 19:43] twogood commented on #37
Thanks! That'll work for now! :-)

[2016-02-17 19:43] #37 closed

[2016-02-22 19:16] stopiccot commented on #36
KInda weird cause there is a check for it already https://github.com/twogood/unshield/blob/master/CMakeLists.txt#L49

[2016-02-22 20:16] twogood commented on #36
Exactly. And I have lots of other things to do so I hope that one day maybe some CMake guru will figure it out... :-)

With #33 it says:
[code]

[2016-02-22 21:42] stopiccot commented on #36
Please post some system info your are running to get this kind of output

[2016-02-22 21:43] stopiccot commented on #36
Also you can "debug" cmake scripts using `message()` function

[2016-02-22 22:04] 6XGate commented on #36
#33 should only do that when you add `-dUSE_OUR_OWN_MD5=ON` to the command-line.  That `rebuild.cmd` for Windows should be the only thing to do that.

[2016-02-22 22:10] 6XGate commented on #36
Okay, under _MSYS_, when it finds _OpenSSL_ it does turn off the `USE_OUR_OWN_MD5` setting. Maybe this is specific to Linux?

[2016-02-24 10:26] bobwya opened #38 "Gentoo ebuilds - minor cmake path issue"
Hi,
I was just adding the unshield package to my Overlay - since the in-tree (Gentoo) ebuilds are very out-dated.

I'm still carrying this small patch for the live (git) ebuild:
[code]

[2016-02-24 11:39] twogood commented on #38
Thanks, but could you explain the scenario where this is needed? Is it when building outside of the source directory? I took a look at this now and with my limited CMake knowledge I would suggest this patch, reversing the `#include` changes by @h3xx :

[code]

[2016-02-24 13:09] bobwya commented on #38
I can see straight away that won't :-) In fact it would make things a lot worse... Oh my dear lord...

[Gentoo](https://en.wikipedia.org/wiki/Gentoo_Linux), uses Portage which is an advanced, source-based package manager. Loosely it's based of the FreeBSD Ports System. Multiple package builds can run in parallel - each is built in a chroot sandbox.

To illustrate - the "meat and potatoes" from the

[2016-02-24 16:22] twogood commented on #38
OK, thanks again! I can't reproduce the issue myself though, not even when I used a separate cmake build directory.

[2016-02-24 16:22] #38 closed

[2016-02-24 16:23] twogood commented on #36
It looks like this may be a caching issue of sorts at my side.

[2016-02-24 16:40] a-detiste commented on #38
@bobwya

Dear CMake expert :smile:

There was a patch in Debian package for v1.0 againt autoconf script to disable RPath.
Now I'll need a new patch to disable RPath in new CMake build.

But maybe this could just be removed altogheter upstream.

(Hey, it's not that I'm lazy, but if nobody needs that; then it's just superfluous fluff,
"less is more")

https://wiki.debian.org/RpathIssue

[code]

[2016-02-24 19:39] twogood commented on #38
@a-detiste : Maybe I should skip RPath by default?

[2016-02-24 20:34] bobwya commented on #38
Hah, hah. That made me laugh: "_Dear CMake expert_".
Folks should take any comments I make about cmake issues with a pince of salt... :-)

However the **RPATH** issue is almost totally unrelated to this issue... I'm simply talking about **make** being unable to locate a C header file at **build** time. The **RPATH** stuff is dynamic linking issues - when putting your "binary / libraries" into prod

[2016-02-24 21:05] a-detiste commented on #38
I do know that it was unrelated, but 1) maybe you knew a bit more 2) you're interrested in unshield.

Now, I stumbled on: https://github.com/twogood/unshield/commit/e0d764f73424392d12eb0234c693f69fef2bc2f1

Which links to https://cmake.org/Wiki/CMake_RPATH_handling
which helps me comming up with this patch.

This way we have _both_ wanted behaviour: unshield manually built in /home
will hapilly ru

[2016-02-24 21:15] twogood opened #40 "Fix RPath"
Follow up on #38

[2016-02-24 21:17] twogood commented on #38
Sounds good. Created #40 for further discussion.

[2016-02-24 21:18] twogood commented on #40
@stopiccot Could you please have a look at the RPath discussion at the end of #38 and give some input?

[2016-04-30 10:05] evgeni opened #41 "libunshield SONAME bumped?"
Hi,

with autoconf, we built libunshield with SONAME 0, with the switch to cmake, it's now 1 (1.3, actually, matching the release number). Is that intentional?

Greets

[2016-04-30 10:18] evgeni opened #42 "CVE-2015-1386: directory traversal"
Original report in Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=776193
It also has a reproduced attached.

Original text:
unshield is vulnerable to directory traversal via "../" sequences. As a
proof of concept, unpacking the attached InstallShield archive creates a
file in /tmp:

[code]

[2016-04-30 10:20] evgeni opened #43 "out-of-bounds read"
Original report in Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=776239

Unshield crashes on this (slightly corrupted) archive:

[code]

GDB says it's an out-of-bounds read:

[code]

[2016-04-30 10:21] evgeni opened #44 "aborts on corrupted archive"
Original report in Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=776238

Unshield aborts while testing this (slightly corrupted) archive:

[code]

I would expect it to print an explanatory error message and exit
normally with non-zero exit code instead.

[code]

[2016-04-30 17:24] twogood commented on #43
PR is welcome!

[2016-04-30 17:25] twogood commented on #41
I think so...

[2016-04-30 17:25] twogood commented on #42
PR is welcome!

[2016-04-30 19:06] twogood commented on #44
PR is welcome!

[2016-05-10 06:46] okuuva opened #45 "Extraction goes into infinite loop with some cab files"
When trying to extract cab files from [Texas Instruments Avigo Manager](https://www.ti.com/organizers/avigo/docs/amupdate.html), extraction goes into infinite loop.

`unshield -D3 x data5.cab` results in this:
http://pastie.org/pastes/10830939/text?key=9gocgtm2mhruuhy0ngiq

Same thing for all the cab files in the zip.

Here is a direct link to the file in question: https://www.ti.com/organizers/av

[2016-05-10 07:17] twogood commented on #45
Thanks for the bug report. That's really interesting! I'll see if I can find anything obvious.

As always, PR is welcome! :-)

[2016-05-10 09:57] twogood commented on #45
That was some really old InstallShield files you had there... Fixed in git now, thanks again! And you need to use the `-O` command line option to enable "old (de)compression".

[2016-05-10 09:57] #45 closed

[2016-05-10 10:35] okuuva commented on #45
Yes, seems to be working after a pull and a rebuild. Thank you so much for such a fast response and fix!

[2016-06-23 20:57] 6XGate commented on #36
any thoughts on getting this merged in?

[2016-06-23 20:57] 6XGate commented on #33
any thoughts on getting this merged in?

[2016-06-23 21:57] twogood commented on #36
Hi,

Do you mean a fix for https://github.com/twogood/unshield/issues/36 ?

Best regards,

\David

tors 23 juni 2016 kl 22:57 skrev Matthew Holder <notifications@github.com>:

[2016-06-23 21:58] twogood commented on #33
Sorry, I will take a look at this again!

[2016-08-03 19:24] petterreinholdtsen commented on #42
I had a look at different distributions via the links found from
<URL: https://security-tracker.debian.org/tracker/CVE-2015-1386 >, and no-one had a patch available.
SuSe: <URL: https://bugzilla.novell.com/show_bug.cgi?id=CVE-2015-1386 >
RedHat: <URL: https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2015-1386 >.

The SuSe bug mentioned that they were unable to find the code handling directory trave

[2016-08-03 19:27] twogood commented on #42
@petterreinholdtsen The culprit is most likely `make_sure_directory_exists` at  https://github.com/twogood/unshield/blob/master/src/unshield.c#L78

[2016-10-05 13:33] maqifrnswa commented on #42
Thanks for the pointer! That doesn't look that bad, maybe just need a counter on the number of '/' (p++) that occurred minus the number of '../' (p+3). If counter <0 when directory creation would be attempted, then error out. I can't get to this or testing any time soon, but I'm passing this on to others that might be able to get a PR done sooner.

[2016-10-05 13:46] twogood commented on #42
This  ought to have been solved properly in many other applications :-)

[2016-10-27 13:13] 6XGate commented on #36
From your response, I thought this was just a caching issue when using my patch from #33.

[2016-12-14 21:57] maqifrnswa commented on #42
pull request #49 is linked, it uses the "standard" way of checking for directory traversal. I tested it using the same files described in the original bug report [1].

I don't have a "healthy" cab to test, so all I could test was that it fails when an attack is present. Before merging, please test with a healthy cab.

[1]
https://bugs.debian.org/cgi-bin/bugreport.cgi?att=1;bug=776193;filename=data

[2016-12-15 09:14] petterreinholdtsen commented on #42
[Scott Howard]

Very good.  Perhaps a new upstream is in order to fix this long standing
security issue?  If a new version come out quickly, we might be able to
save unshield in the next stable release of Debian.  As can be seen on
<URL: https://bugs.debian.org/ > and
<URL: https://tracker.debian.org/pkg/unshield > this CVE is considered
serious enough in Debian to keep unshield out of the next De

[2016-12-15 21:33] maqifrnswa commented on #42
see pull #50. uses GNU C extension, so maybe need to protect for that. Hi Petter, I'm a DD that helps with a depending package (which brought me here ;-) ) Debian can cherry-pick this patch if needed.

[2016-12-26 11:33] #42 closed

[2016-12-26 11:47] twogood commented on #13
@AdamWill Could you please provide an updated URL to this download?

[2016-12-26 12:31] petterreinholdtsen commented on #42
Very good.  Any chance for a new release today?  Today is the last chance to have this fixed in Debian for the next stable release.

[2016-12-26 12:33] twogood commented on #42
Sure @petterreinholdtsen, I'll get right to it.

[2016-12-27 07:35] AdamWill commented on #13
Um. Honestly? No. I don't remember which driver this was. Probably one of the ones at http://www.dell.com/support/home/ca/en/cabsdt1/product-support/product/dell-venue-8-pro/drivers .

[2016-12-27 08:19] #41 closed

[2016-12-27 08:35] #36 closed

[2016-12-27 09:14] #27 closed

[2016-12-27 11:49] twogood commented on #33
I'm having a really hard time getting #57 to build on the old Ubuntu Travis is running on. @6XGate would you be able to setup a build on https://www.appveyor.com/ for Unshield?

[2017-01-03 18:08] haxxor1338 opened #58 "Buffer overflow on too long output directory name"
When trying to extract a cab file using a too long custom output path, the program crashes because of a buffer overflow. A contrived example call is:
`unshield -d $(python -c "print 'A'*300") x ./abc/_SYS1.CAB`

The line in question is here:
https://github.com/twogood/unshield/blob/master/src/unshield.c#L388
where `char dirname[256];` is fixed-length, but `output_directory`'s length is (unbound) v

[2017-01-04 06:42] twogood commented on #58
Nice catch!

PS. Nice username! ;-)

[2017-01-04 07:03] twogood commented on #58
I can't reproduce this on the latest version of Unshield.

[2017-01-04 13:39] haxxor1338 commented on #58
My apologies! I must have used the version of unshield provided by Ubuntu by accident (`apt install unshield`), since I compiled it manually and called it incorrectly afterwards.

This time I made sure I used the version from this source, and can still get an overflow, granted I am not 100% sure yet where exactly the problem is.

I hope it's okay to paste the debug output in the issue here:

[code

[2017-01-04 16:27] twogood commented on #58
Same for me with 1000 characters in path!

[2017-01-04 16:59] maqifrnswa commented on #58
Ubuntu compiles with:
[code]
which is why the buffer overflow detection showed up in the apt-get unshield but the buffer overflow is not detected in the one compiled without those flags. It looks like output_directory overflows but is not detected, but is caught by the directory traversal check (since that buffer is meaningless, there's no reason it will match the expected output and therefore app

[2017-01-06 07:56] twogood commented on #58
Due to personal priorities, I need a PR for this even if it's an easy fix... :-(

[2017-01-06 08:02] twogood commented on #25
Looks like I didn't get it working that weekend... Due to personal time priorities/constraints I need a PR to fix this, if it's still an issue.

[2017-01-06 08:13] evgeni commented on #40
Why closing this? I still think that we should not set rpath.

[2017-01-06 08:38] twogood commented on #40
Sorry, I must have mixed up this with something else :-)

[2017-01-06 08:38] twogood commented on #40
PR is welcome :-)

[2017-01-06 08:40] evgeni commented on #40
I think the patch by @a-detiste in #38 looks good?

[2017-01-06 08:59] a-detiste commented on #40
Hi,
I had completely forgotten about this, but with a fresh mind it sill seems the right thing to do.

[2017-01-06 17:17] #40 closed

[2017-01-07 17:19] evgeni opened #60 "lib/convert_utf/ConvertUTF seems non-free"
Hey,

it seems that the code we embed in lib/convert_utf/ConvertUTF.c is not really free software.

Here is an explanation of the issue in ghostscript:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823100
https://bugs.ghostscript.com/show_bug.cgi?id=697121

the fix for ghostscript is here:
http://git.ghostscript.com/?p=ghostpdl.git;a=commit;h=273a133110838ee5702e7eb6409a853c598211b2
http://git

[2017-01-08 07:42] maqifrnswa commented on #58
I linked an in-progress branch. So far I fixed a bunch of potential buffer overflows. Now the problem is that we're only checking for the total path length to be < PATH_MAX, and not individual path components to be < NAME_MAX. so ```mkdir``` fails if ```directory``` is longer than 255 characters, even if the total path is shorter.
Todo:

- [ ] my fixes are crude, can be made much cleaner. For exam

[2017-01-08 08:23] maqifrnswa commented on #58
never mind, fixing it was fast, so I got it done - see PR #61. Trying to expand to a directory with a long name still fails, but gives you the error as to why it fails.

[2017-01-09 08:15] twogood commented on #60
Oups, my bad. Good thing there are more eyes looking for these kind of things. I guess I can't take the ghostscript code either if I want to keep Unshield MIT-licensed.

[2017-01-09 08:16] twogood commented on #60
TODO: investigate this code: http://unicode.org/resources/utf8.html

[2017-01-09 08:20] #58 closed

[2017-01-09 08:20] twogood commented on #58
Thank you @maqifrnswa !!!

[2017-01-09 08:21] twogood commented on #40
Thank you @a-detiste !

[2017-01-09 20:53] maqifrnswa commented on #43
triaging: the files are corrupted such that it's giving a huge offset between header components.
`#1  0xf7fb5732 in unshield_component_new (header=0x804dfd0, offset=1463549952) at component.c:30`

this allows `unshield_header_get_buffer` in lib/helper.c can return a pointer to memory outside of `header`. Here's the code

[code]

possible fix, before returning `header->data + header->common.cab_des

[2017-02-16 18:49] szepeviktor commented on #13
@twogood Could it be that I am in the same situation?
http://www1.canyon.eu/files/downloads/drivers/cne-cwc1.zip
[code]
Thanks.

[2017-02-16 20:07] twogood commented on #13
@szepeviktor What version of unshield? If I run the .exe in Window and grab the data1.cab from wine's temporary directory I can extract most files with the latest unshield, but some files claim to be in data2.cab, which does not seem to be extracted before the installation fails.

[2017-02-16 20:11] szepeviktor commented on #13
Thank you!

I ran it on linux as I am not able to compile anything on Windows and there's no exe in the releases: https://github.com/twogood/unshield/releases
Am I wrong?

[2017-02-16 20:12] szepeviktor commented on #13
Oh! From the TEMP! I see.
I've use IsXunpack.exe to get both cabs.

[2017-02-16 20:13] twogood commented on #13
Yes, I meant the .exe in your zip ;-)

[2017-02-16 20:13] szepeviktor commented on #13
So I have data1 + data2.cab:
[code]

[2017-02-16 20:14] twogood commented on #13
PS. I'll gladly include a MIT licensed version of IsXunpack in unshield.

[2017-02-16 20:15] szepeviktor commented on #13
OK but the resulting cab files only open with InstallShield's `IsCabView.exe`
not with unshield.

[2017-02-16 20:18] twogood commented on #13
Can you provide the cab files?

[2017-02-16 20:20] szepeviktor commented on #13
https://www.wetransfer.com/downloads/ae2d233b5638150376f5f777c02f5e1520170216201937/87be9c102a609bceef4fdcc7e0574d9c20170216201937/279419

[2017-02-16 20:33] twogood commented on #13
@szepeviktor You need data1.hdr too for unshield to work.

[2017-02-16 20:37] szepeviktor commented on #13
[data1-hdr.zip](https://github.com/twogood/unshield/files/781483/data1-hdr.zip)

[2017-02-16 20:38] twogood commented on #13
You need it more than I do,  put it next to the cab files and unshield works fine.

[2017-02-16 20:41] szepeviktor commented on #13
Thank you.
You are very kind.

[2017-02-16 21:49] twogood commented on #13
You're welcome, @szepeviktor ! :-)

[2017-02-16 22:01] szepeviktor opened #68 "Please tell users when data1.hdr is missing"
https://github.com/twogood/unshield/issues/13#issuecomment-280452677

The current message is `Failed to open /root/tmp/data1.cab as an InstallShield Cabinet File`

[2017-02-16 22:02] twogood commented on #68
+1

[2017-02-16 22:03] twogood commented on #68
PR is welcome, as always ☺️

[2017-02-16 22:03] szepeviktor commented on #68
...from anyone speaking C!

[2017-07-26 08:06] skitt opened #69 "Missing documentation for -i"
I noticed that the author of the -i option followed up with a patch for the manpage, which was never applied: see https://sourceforge.net/p/synce/patches/30/ for the thread, and https://sourceforge.net/p/synce/patches/_discuss/thread/c593a57c/83f6/attachment/update_manpage.diff for the patch.

[2017-07-26 08:59] twogood commented on #69
Applied, thank you sir!

[2017-07-26 08:59] #69 closed

[2017-09-11 20:33] 6XGate commented on #33
I'll need to finish that soon.

[2017-12-02 16:28] laenion opened #70 "Extracting archive with multiple identical filenames"
The International Patch for Baldur's Gate 1 (available e.g. from https://www.fileplanet.com/13569/10000/fileinfo/Baldur's-Gate-Patch-%28v.-1.1.4315-International%29) seems to have a strange index: Each group contains the same file in several language specific versions, however the extracted file will always be the Spanish version (probably because it is the last one in the index). This unfortunate

[2017-12-02 16:33] twogood commented on #70
Ouch, nice catch!

[2017-12-02 19:57] twogood commented on #70
I can reproduce this but I can't find an obvious to solve it without digging deeper into the file format. There are six "file groups":

English
French
German
Italian
Language_Independant
Spanish

But... according to our interpretation of the file format, all of these file groups include all files! So for each file group, it will extract all files, with the Spanish file group last as you noticed.

[2017-12-02 20:42] twogood commented on #70
Apparently, I5comp.exe is able to figure it out, so it should be fixable!

[code]

[2017-12-03 07:46] twogood commented on #70
Fixed, please give it a try!

[2017-12-03 07:46] #70 closed

[2017-12-03 08:42] laenion commented on #70
Wow, that was fast - thanks a lot, the extraction is working as expected now!

[2017-12-03 11:33] twogood commented on #70
My pleasure! PS. If your gratitude is worth a couple of euros, please donate to help treat my friend's 6 year old child who is suffering from the worst kind of brain tumour. Read more at https://www.savinglinnea.com/

[2018-03-01 12:20] goncalveses commented on #13
Hello, I am not able to extract the files from my data.cab could anyone help me?

[2018-03-01 12:31] twogood commented on #13
@goncalveses Please create a separate issue and add links to your data*cab and data*hdr files.

[2018-03-01 12:31] #13 closed

[2018-03-01 17:04] goncalveses opened #72 "Not extract the data from the data.cab file by unlocking"
I am not able to extract the data.cab file through unshield

data.cab
https://mega.nz/#!Dh0CQLjL!ctzP_Ijd0XfDP6N9bSxpdWP4j7oSuzCJDeKC0mi7Glg

data.hdr
https://mega.nz/#!65Nx3KaD!ctzP_Ijd0XfDP6N9bSxpdWP4j7oSuzCJDeKC0mi7Glg

could you help me extract the files ?

[2018-03-02 07:45] twogood commented on #72
I don't have time to look at this right now, but did you try the -O switch "Use old compression"?

[2018-03-03 10:53] twogood commented on #72
Never mind about the -O switch. These files do not look like InstallShield files and are not supported by Unshield. Also, the .cab and .hdr files are identical?! I need the whole software package if I should be able to analyze them further. Please reopen this issue if you can provide this.

[2018-03-03 10:53] #72 closed

[2018-03-04 13:12] goncalveses opened #73 "1"
aef

[2018-03-05 10:08] twogood commented on #73
Please don't misuse the issue tracker

[2018-03-05 10:08] #73 closed

[2018-03-29 01:16] maronz opened #75 "Prevent CMAKE from the search for a C++ compiler"
If one wants to have play around with TinyCC one has to stop the search for a C++ compiler.

It seems that this could be achieved with a minimal change in 'CMakeLists.txt' by specifying the language explicitly:
    project(unshield C)
An alternative to changing this line would be to add instead:
    enable_language(C)
Both of these option have been tested successfully.

[ source: https://cmake.org

[2018-05-10 13:01] tafamas commented on #13
Hello guys I have the same problem with one of my installshield cab files

[2018-05-14 13:50] tafamas opened #77 "Installshield file not opening please help!!!!"
We bought a machine from China and it came with software. I tried installing the software but it couldn't finish setting up so I did some troubleshooting and found that there was a file labelled data2.cab which was failing to extract and I suspect its the one prohibiting the software to install.

[2018-05-15 08:08] tafamas commented on #77
https://www.filefactory.com/file/5osajylt2ngp/data2.cab

[2018-05-15 08:14] twogood commented on #77
Sorry, can't help you unless you provide all files as requested above.

[2018-05-15 08:38] tafamas commented on #77
https://www.filefactory.com/file/bjxpmmatddt/data1.hdr

[2018-05-15 08:46] tafamas commented on #77
sorry for omitting the data.hdr

[2018-05-15 08:51] twogood commented on #77
data1.cab needed too

[2018-05-15 08:53] tafamas commented on #77
https://www.filefactory.com/file/v04qp045awt/data1.cab

[2018-05-15 11:09] twogood commented on #77
Next time please use DropBox or Google Drive and not a crappy site for file uploads.

[2018-05-15 11:11] twogood commented on #77
Please use a single file on Dropbox or Google Drive, I don't wait for downloads or care about hourly limits.

[2018-05-15 13:07] tafamas commented on #77
I have uploaded them to Google Drive

[2018-05-15 13:08] tafamas commented on #77
https://drive.google.com/file/d/1N3M7im4BH1huZX1oaq_iIHbWkAgCAxGY/view?usp=sharing
https://drive.google.com/file/d/1V3piSyR3q9tU-xiHPKsmMOg9EZkdmfp6/view?usp=sharing
https://drive.google.com/file/d/1jJ_yf8DnOlZenxyCrbBeWbn8Gfmifyqq/view?usp=sharing

[2018-05-15 15:57] twogood commented on #77
So this installer contains multiple files with characters that seems to be in gb2312 character set.

[2018-05-16 07:17] tafamas commented on #77
So can you fix the fault file for me please.

[2018-05-16 07:37] tafamas commented on #77
Can I have the unshield software.

[2018-10-21 10:01] kyz opened #78 "Update cabextract/unshield URL"
cabextract and unshield have useful warnings when you attempt to unpack each other's files with them. However, both have URLs that are out of date.

    unshield_warning("Found Microsoft Cabinet header. Use cabextract (http://www.kyz.uklinux.net/cabextract.php) to unpack this file.");

      sys->message(fh, "WARNING; found InstallShield header. "
                   "This is probably an InstallShi

[2018-10-21 18:37] #78 closed

[2018-10-21 20:11] hgdagon opened #79 "How to extract files with non-English filenames"
I'm extracting this old Korean game. It has only one file with the filename in Korean, and that file is either extracted with gibberish as filenames, or errors out.

No options or `-R` results in:

`extracting: ./App_Executables/custom/A_AúÄ¿½ºÅO½ºÅ²,,µå'A1y.txt`

Extracting with `-e` results in:

[code]

I've tried `EUC-KR`, `ISO-2022-KR`, and `KSC_5601`. `KSC_5601` didn't extract any of the file

[2018-10-22 06:34] twogood commented on #79
@hgdagon I think you are using too modern charsets. It must be some old Microsoft Windows charset. Please try `-e CP949` and report your results here!

[2018-10-22 06:38] twogood commented on #79
As for your P.S. there is `-c COMPONENT  Only list/extract this component`, if it helps?

[2018-10-22 19:01] twogood commented on #60
TODO: Replace the convert_utf with MIT-licensed code

[2018-10-22 19:05] twogood commented on #75
Thank you very much!

[2018-10-22 19:05] #75 closed

[2018-10-23 23:54] hgdagon commented on #79
`CP949`  and `ISO-2022-KR` don't work either, same error. I thought I searched for all Korean encodings... Maybe there's any indication of the codepage in the setup itself, or some documentation on what encoding IS uses for Korean by default? I couldn't find any myself.
As far as extracting program files only. This setup contains all non-IS files in a group called `App_Executables`, but I remember

[2018-10-24 04:51] twogood commented on #79
Can you share data*.cab and data*.hdr with me somehow? For example Dropbox, Google drive, or a regular web link?

[2018-10-26 03:45] hgdagon commented on #79
https://www.dropbox.com/s/3qq6v83c27alfz9/Disk1.7z?dl=1

[2018-10-30 17:44] twogood commented on #79
Hi again, sorry for the delayed response!

For me it extracts fine with  `-e euc-kr` but when listing the file the name is not converted!

[code]

So maybe I should actually use the `-e` parameter when listing files too :)

[2018-10-30 18:02] twogood commented on #79
Now I see, you are missing this bug fix: https://github.com/twogood/unshield/pull/76/commits/592f1d62d97b48064509137b0dbc79241800d1d8

[2018-10-30 18:04] twogood commented on #79
So this is a duplicate of #77  but I haven't made any new unshield release since then, sorry about that!

[2018-10-30 19:48] twogood commented on #79
@hgdagon  Please try unshield 1.4.3: https://github.com/twogood/unshield/releases/tag/1.4.3

[2018-10-30 19:58] twogood opened #82 "Fix version and copyright notice"
This has not been updated for a while:
[code]

[2018-10-30 20:00] twogood opened #83 "Add an option to verify the archive integrity (this could be implemented by extracting everything, but not actually saving the extracted data, as bzip2 does)."
Source: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=269588

[2018-10-30 20:02] twogood opened #84 "Add an option to compare the archive contents with a bunch of extracted files"
From the original post: "currently, I achieve this by extracting into a   temporary directory and running diff over them".

Source: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=269588

[2018-10-30 20:06] twogood opened #85 "out-of-bounds read"
Source: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=776239

[2018-10-30 20:09] twogood opened #86 "aborts on corrupted archive"
Source: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=776238

[2018-10-31 02:57] hgdagon commented on #79
Well, according to the timestamps, I cloned the repo on Sep 14, and:

`local/mingw-w64-x86_64-libiconv 1.15-3`

So, I pulled the update, recompiled it, and, I regret to say, it's still the same on my side, `Illegal byte sequence`... Tried both static and shared builds.

I probably should've mentioned before that I'm building on Windows in msys2 (MinGW-w64), although I don't see why that should be

[2018-10-31 07:09] twogood commented on #79
Thank you @hgdagon for your prompt reply. I guess I'll have to try this in a Windows environment then. I'm not sure if the -e parameter has ever been tested on Windows.

If you run the iconv command line tool in your Windows environment with the -l command line parameter, is EUC-KR included in the list?

`iconv -l |grep -i EUC-KR
`

[2018-10-31 09:48] hgdagon commented on #79
`EUC-KR EUCKR CSEUCKR`

That resulted in this:

`extracting: ./App_Executables/custom/ìo ì ?ì»ìSí.?ìSí,"ëOë"oëS"ë².txt`

That's what the output says, and the filename is dlightly diferent:

`ìœ ì €ì»¤ìŠ¤í…€ìŠ¤í‚¨ë§Œë“œëŠ”ë²•.txt`

[2018-10-31 10:03] twogood commented on #79
@hgdagon: What is your character set in the terminal? Like the contents of the LANG environment variable?  For example:

[code]

[2018-10-31 10:15] hgdagon commented on #79
The character set in Msys2 shell is actually `en_US.UTF-8`. But I'm running the executable in command prompt. I tried running in the shell now and I did see the correct filename. But only in the shell output, the actual filename is still the same:

`ìœ ì €ì»¤ìŠ¤í…€ìŠ¤í‚¨ë§Œë“œëŠ”ë²•.txt`

[2018-10-31 11:31] twogood commented on #79
What is your character set in Windows?

[2018-10-31 12:32] hgdagon commented on #79
Um... standard English, I would assume... Whatever comes with Win10, I don't have any weird MUIs installed or anything.

[2018-10-31 14:38] hgdagon commented on #79
I tried extracting on my Linux machine to see if the same errors occur.

Unshield 1.4.2 (current release in Manjaro repo) weirdly enough resulted in this error for every file:

`Could not encode text to 'EUC-KR' error Argument list too long`

So, instead I installed unshield-git form AUR (here's the [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=unshield-git)) and then it worked

[2018-11-08 02:38] hgdagon commented on #79
Well, it's been a week, and, sadly, Visual Studio and I still don't speak the same language.
Since the last time I tackled VS, apparently, there's this new thing called vcpkg, which I thought would bring some sense into the whole mess, but it just doesn't work. At least, I couldn't get it to work.
Anyway, I can confirm that when built with msys2(MinGW-w64), encoding conversion doesn't work.

[2018-11-21 11:34] KOLANICH opened #90 "Setup appveyor builds of binaries"
Appveyor allows automatically building binaries after every commit and publishing artifacts.

[2018-11-21 21:45] twogood commented on #90
Thanks for your suggestion! Where would I put these artifacts?

[2018-11-21 22:08] KOLANICH commented on #90
Appveyor stores them itself (you only need to specify in appveyor.yaml what to store) and allows links to them, if their name doesn't change from build to build.

[2018-11-22 20:31] twogood commented on #90
Maybe it is possible to create an .msi package like this?
http://dominoc925.blogspot.com/2016/09/create-windows-installer-using-cmake.html

[2018-11-22 20:42] KOLANICH commented on #90
Any types of artifacts are allowed. How to setup build you can see here: https://github.com/jpype-project/jpype/blob/devel/appveyor.yml

(not a very good example, since some artifacts are uploaded manually rather than using `artifacts` dict in appveyor.yml, but the build matrix should be useful)

[2018-11-22 20:52] twogood commented on #90
Seems I could specify the .exe as an artifact!
https://ci.appveyor.com/project/twogood/unshield/build/artifacts

[2019-04-01 22:28] jazir5 opened #92 "Instructions for use"
How do you compile this program to use it? I want to combine/extract multipart cab files. There are no written instructions on how to use this, i would appreciate if you could update the description with a tutorial.

[2019-04-02 05:04] twogood commented on #92
Hi! What operating system are you using?

[2019-04-02 05:05] jazir5 commented on #92
Windows 10

On Mon, Apr 1, 2019, 10:04 PM David Eriksson <notifications@github.com>
wrote:

[2019-04-02 17:37] twogood commented on #92
Please go here to download unshield.exe:

https://ci.appveyor.com/project/twogood/unshield/build/artifacts

[2019-04-04 18:01] twogood commented on #92
Did it work for you @jazir5 ?

[2019-07-18 13:28] lvbakker commented on #13
Thank you! i was having the same issues but didn't know i needed the .hdr file.

[2019-07-28 11:23] hgdagon opened #93 "Can't extract InstallShield 17 CAB"
Now, I'm assuming it's InstallShield 17 based on the version of ISSetup.dll. ISCAB just says "Fatal Error", and unshield says a lot of stuff, but I couldn't really figure out how to redirect the output. The problem is all groups get extracted (or so it seems) except for the group/component containing the actual program files.
This is a commercial program of ~7GB total, so I can't upload it. I can,

[2019-07-28 11:38] twogood commented on #93
Could be an issue with files >2GB. Maybe you can post the output from unshield here or in a private e-mail to david at activout.se?

[2019-07-28 12:22] hgdagon commented on #93
How can I do that? I tried
`unshield ........... >out.txt`

But non of the debug messages were redirected.

[2019-07-28 13:54] twogood commented on #93
Append the magic `2>&1` like this:
`unshield ........... >out.txt 2>&1`

Actually it's not magic but it means "forward file descriptor 2 (standard error, stderr) to file descriptor 1 (standard output, stdout)

[2019-07-28 16:02] hgdagon commented on #93
Hey, thanks!
Too large for pastebin
https://drive.google.com/open?id=1CK21Aowreutf-fNmy8-uLTOmwxbrJbxi

[2019-07-28 19:26] twogood commented on #93
Got it! Could you also provide a list of all data*hdr and data*cab files with exact file sizes?

[2019-07-28 19:37] hgdagon commented on #93
Here you go:

data1.hdr 900 KB (921,814 bytes)
data1.cab 21.1 MB (22,130,678 bytes)
data2.cab 6.82 GB (7,332,265,954 bytes)

[2019-07-28 19:47] twogood commented on #93
Thanks! I've checked the source code now and support for .cab files > 4GB is simply not there ;)

[2019-07-29 21:19] hgdagon commented on #93
OK, so there is no intention to add such support? Provided, I h don't if that wouldtake 2 minutes or 2 years.

Also, posting this here, since this SEEMS to be related. I tried extracting another game, with cab files less than 4GB, and several files in each cab failed to extract, so it seems like the limit is less than 4GB. Unlike the one before, though, I successfully extracted the remaining files

[2019-07-30 05:50] twogood commented on #93
I certainly want to fix this!  But I would really need an example, and even then I still can't promise anything.

[2019-07-30 07:56] twogood commented on #93
@hgdagon What is the other game? I can probably get hold of Tron Evolution.

[2019-07-30 13:42] hgdagon commented on #93
@twogood That's the game! The German version. The Russian one (cabs less than 2GB) extracts fine.

[2019-07-30 17:31] twogood commented on #93
Thanks! Switching to Linux won't help, unfortunately.

[2019-08-01 14:56] twogood commented on #93
I have Tron Evolution on DVD now, so I should be able to investigate further next week.

[2019-08-05 14:27] #93 closed

[2019-08-05 16:39] twogood commented on #93
@hgdagon  Please try the latest unshield build from https://ci.appveyor.com/project/twogood/unshield/build/artifacts

[2019-09-04 01:43] hgdagon commented on #93
@twogood Sorry for the silence. I had no internet connection at home for the past month.

I just tried out the latest build, and, sadly, there's not much difference. Nothing changed for both Sunrise discs, and Tron failed to extract data2.cab entirely. No Fatal error this time, the files just `Failed to extract file ...`

[2019-09-04 07:00] twogood commented on #93
Ok, please try it on Linux with the latest code from git then.

[2020-01-03 21:32] thany opened #97 "Binaries"
Would be nice to pulish binaries as a release asset. I can't compile this on my pc, and I think most people hae the same situation (most people are not application developers).

Since it says the build passes, *something* must have been built ;)
Not sure if that means Linux/macOS/Windows, but those are the ones people likely want.

Shouldn't be too hard to provide these? You gotta build them anywa

[2020-01-04 14:12] twogood commented on #97
*Linux* Should have Unshield in their distro. If the version is too old, file a bug report with the distro.

*Mac OS* Included in Homebrew. If the version is too old, file a bug report with Homebrew.

*Windows* Should be on https://ci.appveyor.com/project/twogood/unshield/build/artifacts but there is an issue with building on AppVeyor that needs fixing

[2020-01-06 08:43] thany commented on #97
Maybe it's a good idea to put that information somewhere slightly more prominent?

I for one, couldn't find any clue anywhere that this software is in the distros, on homebrew, or on appveyor.

[2020-01-06 09:25] a-detiste commented on #97
Maybe this could help, this is a meta-index of all distro + homebrew: https://repology.org/project/unshield/versions

[2020-01-06 11:14] twogood commented on #97
Yes, that sounds like a good idea!

PS. As usual on Open Source projects, pull requests are welcome! ;)

[2020-01-06 11:14] twogood commented on #97
Nice, thanks @a-detiste !

[2020-01-11 15:11] #97 closed

[2020-01-15 01:35] phlash opened #98 "Unable to process old (1997) IS 5.0.2 file set"
Hi - I'm attempting to unpack / deobfuscate an old InstallShield 5.0.2 file set from 1997 (ZIP available: https://ashbysoft.com/download/dpcb1197-Wireplay.zip). the _sys1.cab and _user1.cab archives unpack using the -O switch, but I have two issues with data1.cab:

1/ the cab doesn't have the data files in - they appear to be already decompressed in the current folder (their file sizes match decom

[2020-01-15 06:04] twogood commented on #98
Hi! Thanks for your message! Have you tried to use the standalone unshield-deobfuscate binary on the files? It is probably not included in any distro but it is part of the project if you build it yourself.

[2020-01-15 08:12] phlash commented on #98
Thanks, I built unshield-deobfuscate but sadly it doesn't unmangle any files. I took another look at the file descriptors and they all indicate compressed, not obfuscated (0x0004). Looks like I'll be installing Win95 in a VM and checking this file set does install using setup.exe (16 bit for extra pain when reversing!). wish me luck!

[2020-01-15 08:49] phlash commented on #98
Addendum: I hexdumped a few files and despite having decompressed lengths, they all appear to contain END_OF_CHUNK markers, and much lower entropy at the end, will see if opening them separately and decompressing works :)

[2020-01-15 09:23] twogood commented on #98
I can probably investigate myself within a couple of days.

[2020-01-23 16:18] PhlashGBG commented on #98
Addendum: The original file set does indeed install under Win9x, so I shall continue with out-of-cab file support patch and checking decompressor works despite the files being uncompressed length. I suspect a bug in original IS 5 that writes uncompressed size block after compressing out of cabinet - if so then all out-of-cabinet archives will contain random RAM contents from the machine that gener

[2020-01-23 18:36] twogood commented on #98
I debugged it now. It is compressed with the "old" compression method (-O) in the external files, but with the original file sizes exactly as you suspected! I'm half way done with a fix!

[2020-01-23 18:49] twogood commented on #98
All .HTM files seem to be missing.

I get an error extracting WPGAME.EXE that I haven't solved yet.

Do these MD5 sums look correct?

[code]

[2020-01-23 20:03] twogood commented on #98
Of course the HTM files are in the HELP directory :)

[2020-01-23 22:29] phlash commented on #98
Looking good, these are the IS5 extracted file sums:
<pre>
596e93bd517f9d9056db083e1a445c63  CLIENT.EXE
b7ef49b0dc87484a7dfd97cb67e47195  GAME.DAT
5184100495b9f83c3fb32767d160524b  LAUNCHER.INI
fe62f30206b08e17d00a6e68c1f42692  MODEM.DAT
c7d807185a6f4bbe10c143dec7156c4b  PSTUB.EXE
74f7bfff760eb090d9e497142b84ccb2  Readme.txt
2a546de624cdfc74b7b9c62029772b0d  Uninst.isu
479e2b6aaea1723043a97f4a7b5a

[2020-01-23 22:34] #98 closed

[2020-01-23 22:35] twogood commented on #98
Fixed on master now!

[2020-02-10 19:49] craftyguy opened #99 "Tests fail with 'possible traversal attack'"
I'm trying to build/test unshield on Alpine Linux (with musl libc), and all of the bundled tests fail. I've included the output from running the following manually (as found in the baldur gate test sh script):

`./build/src/unshield -D 3 -d extract1 x data1.cab`

Output:

[unshield_fail.log](https://github.com/twogood/unshield/files/4182752/unshield_fail.log)

[2020-02-11 07:07] twogood commented on #99
Seems we use some GNU extension to realpath that probably is not available in Alpine:

[code]

[2020-02-11 07:31] twogood commented on #99
Please try with the latest master @craftyguy !

[2020-02-11 17:44] craftyguy commented on #99
@twogood works great, thanks for the quick fix!

I'm packaging this for Alpine Linux, is there any chance you could tag a new release so I can package a specific release rather than 'master'?

[2020-02-11 17:46] craftyguy commented on #99
Oof, spoke too soon. One test is failing and referencing #42

[code]

That issue seems to indicate this was resolved for debian on some earlier version of unshield, but since it has to do with some traversal stuff maybe it's not fully resolved for Alpine/musl libc?

[2020-02-11 17:54] craftyguy commented on #99
FWIW, realpath does appear to be in POSIX (and therefore supported by must): https://pubs.opengroup.org/onlinepubs/9699919799/

A simple 'hello world' compiles/runs with musl:

[code]

[code]

[2020-02-11 18:16] twogood commented on #99
Yes, `realpath()` is POSIX but there is a GNU extension to support files that do not exist, see bottom of my comment https://github.com/twogood/unshield/issues/99#issuecomment-584502506

[2020-02-11 18:19] craftyguy commented on #99
@twogood oops, I missed that somehow when I first read your comment, sorry about that!

So there must be something else causing that test to fail when built with musl?

[2020-02-11 18:20] twogood commented on #99
Well on master I disabled the path traversal check unless you are on GNU libc. "Damned if you, damned if you don't..." ;)

[2020-02-11 18:21] twogood commented on #99
I will create a proper release when we have sorted this out. I want a path traversal check but I don't want to reimplement realpath :)

[2020-02-11 20:22] craftyguy commented on #99
I see. There was a patch submitted for #42 that doesn't appear to rely on GNU extensions to realpath (https://github.com/twogood/unshield/pull/49/commits/10279229a660e2e1d984ab2aae6a26b664d228ba), but comment in that merge request seems to suggest that approach doesn't work. I don't know enough about this stuff to be able to help much, and definitely don't want to re-introduce a CVE into this proj

[2020-02-12 08:18] twogood commented on #99
Unfortunately it still seems to rely on the GNU extension to realpath but this must have been an issue on Alpine for much bigger projects than unshield...

[2020-02-16 06:58] craftyguy commented on #99
@twogood I thought about this some more, and talked with some folks on the #musl IRC channel to see what they thought such a check would look like ¹

Are there *any* cases where having a '..' in the path for an object in a .cab is valid? If there's no case for that, then it seems like 1) checking that the directory to extract into is writable for the current user, and 2) that the file path of the

[2020-02-16 08:34] twogood commented on #99
I don't know if `..` is valid but of course, it's pretty easy to add a check for that.

[2020-03-04 14:53] gingerbeardman commented on #92
I'm a very proficient macOS user and former Apple engineer, yet I had trouble getting anything out of unshield for a short while.

I did this:
```unshield -d data1 x data1.cab```

and this:
```unshield -d data2 x data2.cab```

No trailing filename or wildcard is needed.

[2020-03-04 14:57] twogood commented on #92
Sorry for the non-obviousness @gingerbeardman !

The syntax with `x` to extract is meant to be similar to that of `tar`.

You should not need to extract individual .cab files, just run it on data1.cab and you should get all files.

[2020-03-11 22:39] ericchristoffersen commented on #92
Hi People. First, I'm really glad this project exists. It was about 6 hours for me to get at the files I wanted.

What I wasn't happy about was a nearly endless set of problems with compiling and then running the program on native windows. Mostly the issues were with limitations and assumptions in the file parsing and construction code and I was maybe unlucky with some directory name choices. I do

[2020-03-12 07:13] twogood commented on #92
@ericchristoffersen Sorry about the Windows build issues, all Windows stuff is contributed and barely supported :) I'm glad you could make it work for your case! Maybe I should just kill the Windows "support" and request that people run unshield in Windows Subsystem for Linux (WSL)?

[2020-03-12 22:59] ericchristoffersen commented on #92
Wow. Cool. I had no idea that the WSL existed. Not sure I want to spend my system drive space for that but... sorta cool.

The advice to not use windows would be a solid minimum. I can't understand in what way windows is supported today. Its really, really not. :) Either that or I totally missed the boat.

The existing directory code is just terrible with weird restrictions and it hurts linux as w

[2020-03-13 07:26] twogood commented on #92
@ericchristoffersen What zlib buld did you use? Because I think the primary issue with building unshield on Windows is that it can be built with different toolchains and the dependencies can be downloaded in various ways. And when adding support for one way, the other ones easily break.

[2020-03-13 18:07] ericchristoffersen commented on #92
Building: zlib was no problem. Cmake ingestion by visual studio 2017 was a problem, I blame msvc, it totally ran off the rails and made a huge mess for this project.

The real issue is that once the sources are built this project totally won't work because it is hard coded to use '/' as a directory separator. Is hard coded to unix ascii paths. Plenty of cases throughout the project but first examp

[2020-03-13 18:49] twogood commented on #92
I'm pretty sure that the Windows APIs handle forward slashes just fine?

[2020-05-06 16:36] hgdagon opened #100 "[Request] Timestamp preservation"
Currently Unshield doesn't preserve the timestamp of the extracted files, but it's preserved in all (some?) versions of cab archives.

[2020-05-06 17:36] twogood commented on #100
Thanks for the suggestion! Pull requests are welcome! :)

Note to self:

utime/utimes

https://www.gnu.org/software/libc/manual/html_node/File-Times.html

[2020-08-16 20:46] janisozaur opened #101 "Unshield doesn't recognize --version"
Steps to reproduce:
`unshield --version`

Expected result:
`unshield 1.4.3, MIT License, https://github.com/twogood/unshield`

Actual result:
[code]

[2020-08-16 20:52] janisozaur opened #102 "Unshield can't open Command & Conquer: Generals files"
Using retail C&C Generals and unshield f097b07 (current master), I tried extracting assets for use in https://github.com/TheAssemblyArmada/Thyme, but unshield complains:
`Failed to open Data1.cab as an InstallShield Cabinet File`

This is surely an InstallShield installer:
[code]

The `Data1.cab` file identifies itself as:
[code]

Any idea what could be the problem?

[2020-08-17 08:49] twogood commented on #102
Please use https://www.cabextract.org.uk/ for files with MSCF signature

[2020-08-17 08:49] #102 closed

[2020-08-17 08:50] twogood commented on #101
Pull requests welcome :)

[2020-08-17 11:02] janisozaur commented on #102
Right, it was pointed out to me even `file-roller` supports them. Can you maybe add a check for unwise users they should try with a more generic tool?

[2020-08-17 11:20] twogood commented on #102
There is code for that:
[code]
I don't know why it didn't trigger for you though.

[2020-09-20 17:52] kpyrkosz opened #103 "Windows builds do not handle 2+ GB .cab files properly"
Hello. I've built the unshield on linux and extracted a 3GB big .cab without problems, on windows the unpacking process stops with error at about 70%. The problematic part is the size used by fseek and ftell is of type long, which on windows (both 32 and 64 bit) is defined as a 4 bit type, but `reader->file_descriptor->data_offset` is an unit64_t. I've tried patching both functions to `_fseeki64`

[2020-09-20 18:16] twogood commented on #103
Thanks for discovering this! The Windows build is a pain with all these build systems and if I make unshield build with one of them, it seems another one breaks. But I digress. It should be pretty easy to make a PR for this I hope.

[2020-09-23 08:18] Reminiscence0 opened #104 "Failed to extract file."
Hello. I'm trying to extract cab files from an InstallShield installer.
Link: https://www.kodensha.jp/sstec/update/jb/jb7up.exe
First, I extracted the executable using isx.exe. I got data1.cab, data2.cab, etc.
Then, running "unshield -d output x data1.cab", I got a error message:
    extracting: out/JCMAIN/jcmain.DDB
    Failed to extract file 'jcmain.DDB'.Run unshield again with -D 3 for more inf

[2020-09-23 08:19] twogood commented on #104
So what output do you get when your run with `-D 3` ?

[2020-09-23 08:20] twogood commented on #104
You could also try the `-O` parameter, it means _Use old compression_

[2020-09-23 08:50] Reminiscence0 commented on #104
Option "-D 3" outputs lots of messages flashing away quickly.
Option "-D 2" outputs "[unshield_file_save:749] Decompression failed with code -3.".
I tried extract with"-O", but the program crashed right after the line "  extracting: out/JCMAIN/jcmain.DDB".

[2020-09-23 09:08] twogood commented on #104
code -3 usually means that -O should work :)

But I'll have to check these myself then.

[2020-09-23 09:30] Reminiscence0 commented on #104
I checked the version of I'm using is "1.4". And the latest version in Github release is "1.4.3".
Could this be the reason I'm getting errors? If it is so, where can I download the latest version?
The "download page" link in readme expired and automatically deleted.

[2020-09-23 09:34] twogood commented on #104
The Windows version of unshield is a mess, sorry about that.

[2020-09-23 09:43] twogood commented on #104
I will try with the latest code.

[2020-09-23 09:43] twogood commented on #104
There are some fixes regarding character encoding that might be relevant when you download from .jp?

[2020-09-23 10:00] Reminiscence0 commented on #104
It might not be the problem of character encoding. This error file contains only ASCII characters ("JCMAIN/jcmain.DDB"), and all the other files with similar name ("JCMAIN/jcmain.DIC") extracted with no error.
Anyway, thanks for your investigation in advance :)

[2020-09-23 10:01] twogood commented on #104
But if you are on Windows why not just run the installer?

[2020-09-23 10:12] Reminiscence0 commented on #104
The file I'm trying to extract is an update file installer. I reinstalled the OS a year ago, and some registry of installation gone with the previous OS. When I run the updator, it shows me the program is not installed. I also can't found the install disk of main program which I bought over six years ago. So I want to extract the update files and patch them manully.

[2020-09-23 14:11] kpyrkosz commented on #104
Is the size of one of the cabfiles bigger than 2GB? If so that's the problem on windows. Did you try unpacking on bsd/linux?

[2020-09-23 19:55] twogood commented on #104
@kpyrkosz  jb7up.exe is 129 127 321 bytes, so that should be fine

[2020-09-23 20:08] twogood commented on #104
I had some problems getting the data2.cab from jb7up.exe but in the end I got these files and could extract them:

Sizes:

513208 data1.cab
26602 data1.hdr
126144698 data2.cab

MD5 sums:

d79e4d1403e01828710a142c9b142eef  data1.cab
08dfee0adeca298e1a3cfae8eb1a69d3  data1.hdr
93542b855b274fd1fa4cce412ea93674  data2.cab

Output:
[code]

[2020-09-23 20:10] twogood commented on #104
@kpyrkosz  Could you provide an MS Windows build of unshield main branch for @Reminiscence0 ?

[2020-09-23 20:14] twogood commented on #104
Using parameter `-e CP932` will extract the TeamViewer.url file with the right encoding on Linux:

  extracting: extracted/JBeijing7/TeamViewer - ネット経由のパソコン遠隔操作（リモートコントロール）ソフト.url

[2020-09-24 09:38] kpyrkosz commented on #104
Both builds (my fixed for windows + your master branch built with mingw) fail to extract the file with error:
[code]
Using `-e CP932` prints out `This version of Unshield is not built with encoding support.` and exits.

[2020-09-24 09:59] twogood commented on #104
Thanks a lot @kpyrkosz - very good information. Maybe this is the actual issue for @Reminiscence0?

[2020-09-24 10:27] twogood commented on #104
Windows will certainly not like the backslashes in the file name and maybe not everything else either

[2020-09-29 11:59] kpyrkosz commented on #103
I can try to refactor the CMake buildscripts, they look bit messy and non standard conformant. There are many helpful features that would make configuration and build cleaner and portable.
I've got a couple of questions before i start:
-why are the buildscripts enforcing static linkage of MSVC builds? There is a ton of IFs that control the static/shared switch in most of the project's CMakeLists.t

[2020-09-29 12:29] twogood commented on #103
@kpyrkosz I'd really appreciate it! The CMake stuff is contributed to replace my own autofoo scripts, and then slightly improved and somewhat broken... :/  And the AppVeyor build is broken: https://ci.appveyor.com/project/twogood/unshield

1. No idea about the static linking. Maybe because of zlib?
2. In theory other applications should be able to link to libunshield but I guess it has never happe

[2020-09-29 13:00] twogood commented on #103
zlib is the big pain on Windows. I' very close to include its source code with unshield to make the build self-contained.

[2020-09-29 16:08] kpyrkosz commented on #103
The branch https://github.com/kpyrkosz/unshield/tree/wip/updating-cmake contains minimal modifications which make windows build the program and not break linux build. Tested with msvc 2019, clang 12 and mingw gcc 6.3. The current build does not handle the big cabfiles yet, first I'd like to achieve portability and write sensible CI scripts (I have never used appveyor nor travis but always wanted t

[2020-09-29 17:00] twogood commented on #103
@kpyrkosz  I created pull request #105 to make it build on Travis and AppVeyor. Travis build it really fast on Linux and while I have no idea what the Mac OS X builds are spending time on. AppVeyor claims success but it actually failed.

[2020-09-29 18:06] twogood commented on #103
@kpyrkosz  Please disable Mac OS X builds in .travis.yml, I'm working on updating that in another PR

[2020-09-30 10:09] kpyrkosz commented on #103
The problem with windows CI is the fact that zlib is not preinstalled on the travis machines and the built-in package manager... does not support the zlib.
Personally i am using vcpkg on win and it works wonders, supporting multiple configurations, architectures with flawless CMake integration. If i were to include it in the CI build it shouldn't slow down the process, the vcpkg is pretty lightwei

[2020-09-30 18:26] twogood commented on #103
@kpyrkosz  I guess that's why the AppVeyor configuration uses scoop to install zlib and not chocolatey like Travis. But if you can use vcpkg om both Travis and AppVeyor it would be nice! Or we only use Travis and not AppVeyor.

I like how you think about the combinations of builds.

[2020-09-30 18:48] twogood commented on #103
But for Windows, maybe the most important thing is to be able to provide an unshield.exe to people who do not happen to have a dev environment setup :)

[2020-10-01 16:53] twogood commented on #103
@kpyrkosz  I probably caused a merge conflict with your .travis.yml now but I can sort that out later

[2020-10-01 20:42] kpyrkosz commented on #103
I spent literally entire day pushing with appveyor and i got nowhere lol.

[2020-10-02 06:49] twogood commented on #103
@kpyrkosz  Sorry to hear that! Maybe we should try to get zlib into Travis Windows environment?

[2020-10-03 16:01] kpyrkosz commented on #103
I've written appveyor script for windows builds but vcpkg has temporary issue with some zlib dependency...
https://github.com/microsoft/vcpkg/issues/13217
The msys repos seem to be unreachable at the moment but I wouldn't like to write any hotfixes to third party tools.

[2020-10-03 18:44] kpyrkosz commented on #103
Hey it's both fast and green :)
Linux: https://travis-ci.com/github/kpyrkosz/unshield/builds/187972769
Win: https://ci.appveyor.com/project/kpyrkosz/unshield/builds/35551986

On Linux tests are enabled and passing in all configurations, on windows all 3 compilers are building 4 variants variants each but i wasn't running the test suite in the CI yet. I'm using git bash on my win machine, the test

[2020-10-03 19:02] twogood commented on #103
Great job!!!!!!

The CVE-2015-1386 directory traversal test will fail if not executed on GNU libc, I don't have a good solution for other libc's yet.

The star is actually mentioned in the man page:

So I guess that `-b` should be used on all operating system and that the '*' is the more correct version.

[2020-10-03 19:04] twogood commented on #103
Wow, the number of warnings from clang on Windows...

[2020-10-03 19:27] kpyrkosz commented on #103
That's clang's `-Weverything` flag in debug mode. Should we add `-pedantic` on top of it?

According to `man md5sum` default behavior is text mode `-t` on linux, inside git bash it seems it is -b (I say "it seems" because there is no `man` inside windows git bash). The `-b` switch prepends the star.
Shouldn't `-b` be used in our scenario? I suspect problems may arise with CRLF and such. After all

[2020-10-04 08:42] twogood commented on #103
Oh `-pedantic`<3

Yes, the correct would be to use `-b`. But I would be surprised if the MD5 sum changed. I assume it controls the `b` flag to `fopen()`:

       POSIX conforming systems, including Linux.  (Other systems may treat text files and binary files differently, and adding the 'b' may be a good idea if you do I/O to a binary file and expect that your program may be ported to non-UNIX envi

[2020-10-06 17:34] kpyrkosz commented on #103
How do we merge your xcode and my linux builds in travis?

[2020-10-07 06:54] twogood commented on #103
I think you can probably look at my xcode changes and incorporate them easily in .travis.yml in your branch, otherwise I can look at it in a few days

[2020-11-11 20:01] twogood commented on #90
Maybe fixed by #105

[2020-11-12 07:50] twogood commented on #90
Yet! :)

[2021-01-17 13:20] r-a-sattarov opened #108 "Always builds a static library"
Always builds a static library regardless of value of BUILD_STATIC option (`Linking C static library liblibunshield.a`).
On version 1.4.3 (October 2018) this does not happen, a dynamic library is created by default.

Сmake version 3.15.4

[2021-01-17 14:17] twogood commented on #108
Thanks for the issue report! PR is welcome :)

[2021-01-24 13:19] r-a-sattarov commented on #108
This error appeared after this commit
- https://github.com/twogood/unshield/commit/67c22aee9eeb479686b6b1e32131a85fd3dab31f#diff-4803677bd280f4dded52c428e3c8ac6c618508dcabcbe880b68be85897c2ad41

This code in `unshield\lib\CMakeLists.txt` will fixit this error:

`if(BUILD_STATIC)`
    `add_library(${PROJECT_NAME} STATIC ${LIBUNSHIELD_HEADES} ${LIBUNSHIELD_SOURCES})`
`else()`
    `add_library(${PROJ

[2021-01-27 13:36] #108 closed

[2021-01-27 13:36] twogood commented on #108
Great job, thank you @r-a-sattarov!

[2021-01-31 11:20] #82 closed

[2021-02-09 04:23] bwrsandman opened #111 "Request: Open CAB without fopen"
Would it be feasible to add a function to the library that allows opening a CAB file from memory such as this?

[code]

This would allow the piping the contents of cab files from zlib or libcdio without doing a round trip to the filesystem.

[2021-02-09 07:22] twogood commented on #111
I'm not sure that would work, as both the `.cab` and the `.hdr` files are needed at the same time but only the .cab file need to be specified on the command line and the .hdr file is found by changing file suffix. If the logic for opening with different suffix could be overridden you could probably send in `/dev/fd/X` as path for .cab and .hdr.

[2021-02-09 07:27] twogood commented on #111
There is also the support for multiple .cab files. And the code does `ftell` and `fseek` to find out the size of files.

[2021-02-09 13:34] bwrsandman commented on #111
Perhaps an interface where I can supply my own io callbacks instead of using `fopen`, `fseek`, `ftell`?

I've seen this done with minizip's `unzOpen2`
https://github.com/luvit/zlib/blob/master/contrib/minizip/ioapi.h#L172

This should be enough to support hdr files and multiple CAB files as the callbacks would require my implementation to extract those extra files from libcdio.

[2021-02-09 13:43] twogood commented on #111
That's a neat abstraction! Quite a makeover to implement though.

[2021-02-10 02:12] bwrsandman commented on #111
Posted a proposed implementation of io callbacks.
I was able to list contents of a cab file inside of a cue/bin pair read with libcdio:
https://github.com/bwrsandman/unshield/blob/io_callbacks_example/src/isocab.c#L46-L251

[2021-03-16 02:37] maronz commented on #75
Well, it's broken again ;)

This time the
`    project(libunshield)`
entry of 'lib/CMakeLists.txt' would need to be changed to:
`    project(libunshield C)`

As there are two further 'CMakeLists.txt' files (in 'lib/md5' and 'lib/convert_utf') they might as well should receive a similar "treatment" (i.e. adding project entries with explictly stating that the language is to be 'C').

[2021-03-16 07:42] twogood commented on #75
Nice catch, thanks!

[2021-03-20 20:26] wdlkmpx commented on #103
https://github.com/kpyrkosz/unshield/commit/7ea602d78b86f6041ffc58103229be47610a8154

The branch has merge a conflict in CMakeLists.txt ... does fixing this issue require altering the build system?

Does not compile on linux.

I guess something like this could solve the issue:

[code]

[2021-03-20 21:52] wdlkmpx commented on #103
OpenSSL is a huge lib, there is no reason to use it if only md5 is required, the internal md5.c is more than enough.

OpenSSL only makes sense if using advanced encryption stuff, if the bundled md5.c works as expected, all references to openssl should be removed.

There are simple libs compatible with zlib that would be easy to integrate into the project, so that all deps are compiled statically,

[2021-03-21 17:44] #101 closed

[2021-03-28 11:30] twogood commented on #75
Fixed, thank yuo @maronz

[2021-05-12 18:55] wdlkmpx opened #122 "issue with run-tests: failures in older linux distros?"
seeing the build logs of several pull requests, the only part that seems to make a difference is zlib
but the compiler might be configured in a different way

- slackware current (2020-06) with zlib 1.2.11

[code]
- debian stretch (2017) with zlib 1.2.8
[code]

[2021-05-12 19:23] wdlkmpx commented on #122
The commands were ran in a clean source tree (git clean -dfx), using the master branch, with a shared library linked to openssl and zlib.

I don't understand why debian stretch is using 1.2.8... I think 1.2.11 was already available then
https://packages.debian.org/stretch/zlib1g

The evidence potentially shows that only the latest stable zlib version should be used, perhaps it should be integrated

[2021-05-12 20:14] twogood commented on #122
That is very interesting.

[2021-05-13 16:05] wdlkmpx commented on #122
It's definitely zlib, I locally reimplemented autotools support.
I compiled a static zlib 1.2.11 that is linked to a static libunshield

- debian stretch (2017) with static zlib 1.2.11

[code]

modified rebuild.sh

[code]

[2021-05-13 20:34] wdlkmpx commented on #122
No, something was wrong. If there is a system libunshield, unshield will load `/usr/lib/liblibunshield.so` instead of `/var/tmp/unshield/lib/liblibunshield.so`, this makes some tests fail.

That's why `rebuild.sh` must create a static libunshield: `cmake -DBUILD_STATIC=ON ....`

[2021-05-14 18:08] twogood commented on #122
Ahh damn :)

[2021-05-15 14:11] wdlkmpx commented on #122
How to fix this:

`rebuild.sh` must create a static libunshield: cmake `-DBUILD_STATIC=ON ....`

This and other random changes I happen to make will be in my repo, it takes too much time to test, explain and 'sell' this stuff. I'm accumulating too many changes, which will require too many branches and PR's, and this will confuse me a lot. stuff can be cherry-picked afterwards.

[2021-05-15 14:11] #122 closed

[2021-05-16 14:45] wdlkmpx commented on #103
The appveyor Windows build config must be somewhere else, running a test in my repo, it complains that the config is missing or something, so I had to disable appveyor to keep the green check.

So far I managed to make all Travis UNIX builds work... FreeBSD, macOS and 4 linux arch's including s390x (big endian)
https://travis-ci.com/github/wdlkmpx/unshield/builds/226030031

[2021-05-16 18:18] twogood commented on #103
Appveyor failed builds do not appear as failed in GitHub. Must be something with the build script I guess?

[2021-05-16 21:16] wdlkmpx commented on #103
I guess the appVeyor config is outside the repo, I think it needs the `.appveyor` file for changes to take effect. I added and removed AppVeyor from my github actions.

Travis Windows builds

mingw GCC 8
https://travis-ci.com/github/wdlkmpx/unshield/jobs/505735405

MSVC (Visual Studio 2017) throws many warnings with -Wall
https://travis-ci.com/github/wdlkmpx/unshield/jobs/505735406

GCC and Clang

[2021-05-16 21:47] wdlkmpx commented on #103
I agree that that the minimum CMake support must be bumped to 3.x, the main CMakeLists.txt has this line:
`cmake_minimum_required(VERSION 2.8.7)`

but lib/CMakeLists.txt has this... so yeah that is true minimum version cmake 3.6... it's 3.7.2 in Debian Stretch (2017)
`cmake_minimum_required(VERSION 3.6)`

It's quite obvious that only recent cmake versions can do what the old autotools did back in

[2021-05-17 07:52] twogood commented on #103
I thought we were on CMake 3 already... :)

[2021-05-19 03:27] wdlkmpx commented on #103
This is crazy, I managed to run the test suite on **Windows** (run-tests.sh),

MinGW on Windows produces a proper unshield:
https://travis-ci.com/github/wdlkmpx/unshield/jobs/506268982

MSVC produces a mostly OK unshield, only `test/v0/wireplay.sh` fails
https://travis-ci.com/github/wdlkmpx/unshield/jobs/506268983

This is without `iconv()` support.

[2021-05-19 16:30] wdlkmpx commented on #103
My travis build triggers 14 jobs for 4 operating systems and 4 processor architectures.
This repo triggers 20 or 18 jobs for 2 operating system and 1 processor architecture.

My builds process way faster, lower resource usage per job than this repo.
It's not a good idea to stress the Travis CI servers or something.

And now travis has apparently suspended builds for my repo, so a PR is incoming
![

[2021-05-19 23:05] wdlkmpx commented on #99
I just came across this issue, I cross compiled a musl static unshield

The problem with musl is that there's no way to identify it, no macros, the musl devs are insane.

[2021-05-20 05:58] wdlkmpx commented on #99
I produced an extra workaround for CVE-2015-1386 that will fix a test failure with everything other than gcc+linux
See commit diff & message https://github.com/wdlkmpx/unshield/commit/46a91730086f8da69750356b4522d40aca0b6102
My repo has interesting stuff

unshield with a static musl:
[code]

[2021-05-20 12:09] twogood commented on #99
Good workaround!

[2021-05-20 15:14] wdlkmpx commented on #99
I optmized the change I made to extract_file() in the commit linked above,
Buit I don't want to trigger a new Travis CI build in the Pull Request until I have new important changes to commit, so I'll paste the diff here so you can analyze it

The app(s) that create InstallShield CAB files, will never insert something like `\..\` or `/.../` in the path, so it's pretty safe to assume it's malicious.

[2021-06-01 15:07] wdlkmpx commented on #99
My assumptions were correct, the `realpath` fix should be removed, that fix itself can be considered a bug.

The string to check is the full path not including the output directory (-d dir), I see the fix for traversal attacks in `unace`, it just checks the dots and the dir separator, a simplified version:

[code]
Just like ace/WinAce, InstallShield is a closed source Windows app, so the same logi

[2021-09-07 14:44] hgdagon opened #124 "Cannot extract last file of the volume in multi-vulume cab files"
Installers with only a dummy data1.cab and a data2.cab, containing actual files seem to been unaffected. For others,  the very last file in each volume fails to extract.

Here are some [logs and info](https://github.com/twogood/unshield/files/7122351/logs.zip).

[2021-09-14 18:29] twogood commented on #124
Thanks a lot for this information, maybe those files are split between volumes and unshield don't handle that very well. I know I don't have had good test data for this. I have tried a German edition of Sunrise but I don't recall an issue like this.

[2021-09-14 18:31] twogood commented on #124
@hgdagon what version of unshield did you use?

[2021-11-18 08:15] gcxd68 opened #126 "Extraction without group folder"
Hi,

Thank you for all the hard work. Il was looking for a way to extract files without creating group folders.

Example : cabinet files contains 2 groups : DATA and EXECUTABLE. If I extract both towards an INSTALL folder, DATA and EXECUTABLE folders are created. I would like to get the files directly in the INSTALL folder and skip the group folder creation.

Is that even possible ?

Thank you,

G

[2021-11-18 08:19] twogood commented on #126
Thank you Greg for the kind words!

I don't have an obvious solution but maybe if you call it twice: once with `-g DATA` and once with `-g EXECUTABLE`?

[2021-11-18 08:34] gcxd68 commented on #126
Thank you for this quick response !

I already tried it, the DATA and EXECUTABLE folders still get created in the INSTALL one. Even with `-g DATA` or `-g EXECUTABLE`

[2021-11-18 08:36] twogood commented on #126
If there is no directory structure, maybe `-j` will work? Otherwise I'm afraid you will have to relocate the files after extracting.

[2021-11-18 08:37] gcxd68 commented on #126
Ok, I'll have a look, thank you !

[2021-11-18 08:39] twogood commented on #126
The reason for creating these directories, IIRC, is that sometimes files with the same name can exist in multiple groups or components.

[2021-11-18 12:25] gcxd68 commented on #126
Yes I understand. I'll try to explain my goal : I'm making an installer for an old software that won't install anymore on recent computers (but still works). Because of these files extracting to this "group" folder, I have to extract them to a temporary folder and then copy them again to the destination. Not optimal, but it works. Thanks again.

[2021-11-19 08:56] twogood commented on #126
Yeah @gcxd68 that is a very typical use case, but I hope that moving the files to the right places (don't copy, that is much slower) with a script afterwards is not too much trouble.

[2021-11-29 19:59] craftyguy opened #127 "tag new release?"
any chance you're planning to tag a new release soon? thanks!

[2021-11-30 14:25] twogood commented on #127
At your service @craftyguy

https://github.com/twogood/unshield/releases/tag/1.5.0

[2021-11-30 14:25] #127 closed

[2021-12-01 09:37] moubctez opened #128 "Fix library name on UNIX"
#105 removed library properties, so version 1.5.0 installs as `liblibunshield` without versioned symlinks. Here's a fix.

[code]

[2021-12-01 13:24] twogood commented on #128
Maybe I should have updated VERSION too :)

[2021-12-02 07:15] craftyguy commented on #127
@twogood thanks a lot! 😄

[2021-12-02 07:43] twogood commented on #127
Seems like I will make a new release with #128 fixed

[2021-12-04 00:03] harrypotterIUP opened #129 "Failed to read ... bytes of file, Failed to read ... from input cabinet file, Failed to extract file"
I'm getting `Failed to read ... bytes of file`, `Failed to read ... from input cabinet file`, `Failed to extract file` errors. No luck with the `-O` option either. When I'm using the same files to actually run the setup executable, everything gets installed without errors - including the files that `unshield` fails to extract. So it seems like the files themselves are fine.

I'm using the latest b

[2021-12-04 00:07] harrypotterIUP commented on #129
You can download the CAB files in question here: myabandonware.com/game/the-simpsons-hit-run-bg6 The game is abandonware.

[2021-12-04 00:29] harrypotterIUP commented on #129
It's a great tool, by the way. Thanks for doing this! :+1:

[2021-12-04 12:38] twogood commented on #129
Thanks for the report! Could this be the same as #124?

[2021-12-05 14:26] #128 closed

[2021-12-09 00:34] harrypotterIUP commented on #129
Thanks for getting back to me! :+1: Yes, maybe you're right and it is the same as #124.

Is there anything I can do to help? It seems like a good idea to fix this issue. However, unfortunately, I couldn't come up with anything. Like I said, you can just run the regular setup program to extract the files, if it helps to have the two missing desired output files.

[2021-12-18 12:40] twogood commented on #129
I'd love to fix this but it will take some time debugging etc and I also have paid work to do and that goes first...

[2021-12-22 02:42] iguanatamer opened #133 "warning: remote HEAD refers to nonexistent ref, unable to checkout"
When trying to install from the AUR I get this error when pulling the git repo.

[code]

[2021-12-22 06:15] twogood commented on #133
I don't know what an AUR is but I have renamed the `master` branch to `main`. Could it be the reason?

I thought GitHub did setup a redirect though?

[2021-12-22 08:28] twogood commented on #133
Oh, AUR=Arch User Repository

[2022-01-07 12:57] dgcampea opened #134 "Extraction Failure"
Version: 1.5.1; 1.4
File: [Win_DC_2.73.zip](https://gscs-b2c.lge.com/downloadFile?fileId=wkqArniqk4P4qT3cOVBiA), sha256sum: `eedbdf5535f0c9bfb917a2fa1b392f6ee5b54e3bd3204d9f3e8d02ee5d44fc7b`
Output:
[code]

[2022-01-08 10:13] twogood commented on #134
unshield does not support .exe files, you have to extract any .cab and .hdr files from the .exe by some other means

[2022-01-08 10:13] #134 closed

[2022-01-14 03:37] nikitalita commented on #103
can you please upload artifacts from this?

[2022-03-24 13:14] kratz00 commented on #133
@iguanatamer Are you talking about https://aur.archlinux.org/packages/unshield-git
If so, the last update was in 2017, this was before the branch was renamed.
To me the [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=unshield-git) needs to be fixed and it is not an upstream issue.

Why not use the official package - https://archlinux.org/packages/community/x86_64/unshield/
It sup

[2022-03-24 21:42] kratz00 opened #138 "travis-ci.org is ceased"
See https://travis-ci.org/github/twogood/unshield:

`Since June 15th, 2021, the building on travis-ci.org is ceased. Please use travis-ci.com from now on. `

See https://docs.travis-ci.com/user/migrate/open-source-repository-migration for an overview on how to migrate to travis-ci.com

[2022-03-25 08:47] twogood commented on #138
Yeah I know... I'd like to use GitHub actions instead.

[2022-03-25 09:40] #133 closed

[2022-03-25 09:41] twogood commented on #133
Thanks @kratz00 !

[2022-03-25 12:15] kratz00 commented on #138
How do you feel about the AppVeyor integration?
The configuration in the main branch looks differently from what is actually executed in a pull request and on the other hand it is failing.

It seems it could also be replaced by GitHub actions (https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job).

Instead of having three different CI pipelines, GitHub actions could be the o

[2022-03-25 12:20] twogood commented on #138
@kratz00 I pretty much hate AppVeyor, so Windows builds should definitely also run on GitHub Actions.

[2022-03-25 12:30] evanmiller opened #139 "Extraction failures on PowerPC with unshield 1.5.1"
Hi, I'm trying to run an old PC game on an old Mac (32-bit PPC running 10.4.11 "Tiger"). I understand that big-endian machines are supported by this project. I am able to extract files just fine on an 64-bit Intel machine with macOS 10.6, but the Tiger box is failing to pull out any files. Here's part of the log:

[code]

The log is much longer, with a similar section for each file that can't be e

[2022-03-25 12:37] twogood commented on #139
What data*cab and data*hdr files do you have?

[2022-03-25 12:41] evanmiller commented on #139
@twogood There is only `data1.cab`.

[2022-03-25 13:02] twogood commented on #139
@evanmiller Same version of unshield on both systems? It used to work on big endian machines, I'm pretty sure 32-bit too.

[2022-03-25 16:37] evanmiller commented on #139
Digging into this some more, there are clearly some byte swap issues in play. I believe the underlying issue is that `WORDS_BIGENDIAN` was defined in the autotools universe, but is not anywhere in the CMake build. The macro is used here:

https://github.com/twogood/unshield/blob/c758ac017dda2f1735d385a360f82b673b898f4b/lib/internal.h#L108

The flag becomes relevant when `letoh16` is invoked here:

[2022-03-25 18:50] kratz00 commented on #139
Should be an easy fix - https://cmake.org/cmake/help/v2.8.12/cmake.html#module:TestBigEndian

I am going to create a PR.

[2022-03-25 19:02] kratz00 commented on #139
I saw that too, this would mean to require at least CMake 3.20 (released Mar 23, 2021)
Currently it is 2.8.12: https://github.com/twogood/unshield/blob/main/CMakeLists.txt#L1
I am not sure, 3.20 might be too advanced? :smile:

[2022-03-25 19:21] kratz00 commented on #139
@evanmiller How can you have 3.22 - which was last updated in 2007, if 3.20 was released in 2021?

[2022-03-25 19:24] evanmiller commented on #139
@kratz00 I meant macOS 10.4 was last updated in 2007...

[2022-03-25 19:31] kratz00 commented on #139
Updating CMake should be possible in general, but 3.20 or newer is not available in my Linux distributions yet

- https://packages.debian.org/search?searchon=names&keywords=cmake
- https://packages.ubuntu.com/search?keywords=cmake

[2022-03-25 19:43] twogood commented on #139
Nice work! Would be nice to have it working out of the box in mainstream Linux, yes.

[2022-03-25 21:40] ryandesign commented on #139
Testing for endianness at configure time is not ideal. macOS supports universal binaries built for multiple architectures. It is common to want to perform the configuration and build steps just once each, telling the build to use two architectures, for example by having `-arch ppc -arch i386` in CFLAGS, CXXFLAGS, LDFLAGS. If you are relying on configure-time endianness checks, then the "native" ar

[2022-03-25 22:00] kratz00 commented on #139
@ryandesign Thanks for your input. I agree, the proposed solution will only work if compiling for the "native" architecture.
It will break cross compiling in case the target architecture differs from the build architecture.

I will think about a better solution.

[2022-03-25 22:09] ryandesign commented on #139
Not sure how widespread or standardized this is but for example clang 5 and gcc 5 both define `__BYTE_ORDER__` to `__ORDER_LITTLE_ENDIAN__` and `__LITTLE_ENDIAN__` to `1` on my Intel Mac. And one would expect `__BYTE_ORDER__` to be `__ORDER_BIG_ENDIAN__` and `__BIG_ENDIAN__` to be `1` on PowerPC machines. So you might use either of those.

[2022-03-26 07:21] twogood commented on #139
@ryandesign  But according to CMake manual "Check if the _target_ architecture is big endian or little endian."  (my emphasis), shouldn't that be correct? Source: https://cmake.org/cmake/help/latest/module/TestBigEndian.html

[2022-03-26 12:15] evanmiller commented on #139
Since there is only one line of problematic code, I have rewritten it to be endian-neutral in #143. This lets us get rid of all the byteswap cruft and sidestep any CMake version (and universal build) issues.

[2022-03-26 12:32] twogood commented on #139
Was it only that line left @evanmiller ? 💯

[2022-03-26 12:38] #139 closed

[2022-03-29 23:38] ryandesign commented on #139
If you are trying to build universal (e.g. by having `-arch ppc -arch i386` in CFLAGS, CXXFLAGS, LDFLAGS) there is no single target architecture. There is no answer to the question "what is the endianness of `-arch ppc -arch i386`"; it doesn't make sense to ask. It doesn't make sense the check endianness at configure time.

When doing a build for multiple architectures, clang (and the old Apple gc

[2022-03-30 17:32] twogood commented on #139
Amazing @ryandesign ... it's a complex world... but is this scenario likely for little Unshield?

[2022-03-31 18:42] twogood commented on #139
@ryandesign OK so __BYTE_ORDER__ should be more reliable?

[2022-04-01 13:18] ryandesign commented on #139
Using a preprocessor define (like `__BYTE_ORDER__`) at build time would avoid the problems caused by trying to determine the endianness at configure time. But you would need to find preprocessor defines that are available in each of the compilers you care about.

A quick search turned up [this Stack Overflow discussion](https://stackoverflow.com/questions/8978935/detecting-endianness) in which it

[2022-04-11 12:11] polluks opened #151 "Commented out for a long time"
https://github.com/twogood/unshield/blob/4852238d1d9aa736b48f0e7405c19ca6a0996b35/src/unshield.c#L223
this seems to be unintended IMHO

[2022-04-13 17:19] twogood commented on #151
Yeah, because they are implemented as command line options but setting them does not have any effect when the application runs... so they could be removed or implemented :)

[2022-04-13 21:00] polluks commented on #151
I see, so the manual is not up-to-date.

[2022-04-13 21:00] #151 closed

[2022-04-20 12:00] hazelnot opened #154 "make install fails with permission denied error"
I'm trying to build Unshield on Fedora 35, and `make install` comes up with\

[code]

[2022-04-20 12:26] twogood commented on #154
Sudo?

[2022-04-20 12:33] hazelnot commented on #154
That... worked

I kind of figured that if I used sudo I might break something

I feel very stupid and wish there was a way to just straight-up delete this issue now

[2022-04-20 12:33] #154 closed

[2022-04-20 12:50] twogood commented on #154
No worries @hazelnot ! Everyone is a beginner some time!

[2022-04-24 14:05] kratz00 commented on #138
Fixed by https://github.com/twogood/unshield/commit/71c96a21c31a87e9ede5008cdf5dbc460792ecb7

[2022-04-24 14:05] #138 closed

[2022-05-11 19:13] kratz00 opened #156 "Tests: baldurs_gate_old_compression segfaults"
Trying to extract the Baldurs Gate patch test file using the old compression option (*-O*) results in a segmentation fault.
It is not expected to extract this cab file successfully with this option but it should not crash.

This issue is a reminder to:

- fix the segmentation fault
- enable the test case after the issue has been fixed

[2022-05-19 19:55] B-2Admirer commented on #97
Could you explain where I can get the latest Windows binaries? The appveyor link does not seem to contain anything and the repology link does not seem to contain anything for WIndows. Thank you for writing this tool, anyway.

[2022-05-19 19:57] B-2Admirer opened #157 "Where do I find the latest Windows binaries?"
Could you explain where I can get the latest Windows binaries? The https://ci.appveyor.com/project/twogood/unshield/build/artifacts link does not seem to contain anything and the https://repology.org/project/unshield/versions link does not seem to contain anything for WIndows... Thank you for writing this tool, anyway.

[2022-05-19 20:46] kratz00 commented on #157
Currently there is no way to download binaries.
Give me some time and I will try out https://github.com/actions/upload-artifact

[2022-05-20 04:26] B-2Admirer commented on #157
OK, thanks. Please notify me when you do (I'm not very familiar with this site). It would be nice to have an InstallShield tool that actuallt works (the 1.4.d14d2e2 version I managed to find has some nasty bugs, which I hope were fixed in the last version).

[2022-05-20 06:53] twogood commented on #157
Welcome @B-2Admirer, yes I know windows binaries are lacking but as @kratz00 mentions above the goal is to have them as downloadble artifacts on github.

[2022-05-20 06:53] twogood commented on #157
@B-2Admirer not sure what you mean by "nasty bugs" though ;)

[2022-05-20 07:12] B-2Admirer commented on #157
Sure, I understand, just let me know when it becomes possible to download. I think it doesn't make much sense to report bugs until I've got the latest versions, as it may simply not have them.

[2022-05-27 12:39] aaaaaaaCatOnMyKeyboard commented on #157
+1
i think many people don't know how to compile an application. it would be much better if would release precompiled binarys too please.

[2022-05-27 16:47] B-2Admirer commented on #157
I "know" how, but I don't think it's right for me to install the Studio package just to compile this small tool.

[2022-06-13 19:43] twogood opened #161 "Maybe git LFS wasn't such a good idea :("
[code]

https://github.com/twogood/unshield/actions/runs/2490089088

[2022-06-13 20:55] kratz00 commented on #161
[code]

The free plan only allows for 1 GB/month of bandwidth :cry:
So every time the repository is cloned (which includes the CI jobs) this will add up to the 1 GB/month.
See https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage for more information
Instead of paying 5 Dollars per month to have 50 GB, we could add the test data files bac

[2022-06-27 17:55] #161 closed

[2022-07-29 08:44] issaclin32 commented on #157
There is a pre-built binary in *[Scoop](https://scoop.sh)*'s packages.
https://github.com/ScoopInstaller/Binary/raw/master/unshield/unshield-1.5.1.7z